

* {
  box-sizing: border-box;
}


/* ==== FONT SIZES ===== */

/* As default is 16px, 62.5% sets default to 10px 
(hard setting 10px would not inherit) */
html { font-size: 10px; }
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3, label { font-size: 2rem; }
p, a, button, #submit { font-size: 1.6rem; }

a, label { font-weight: bold }
/* =========================== */


/* ------------------------------------------------------
color scheme (using GLOBALLY declared variables / (aka custom properties)
--------------------------------------------------------*/

:root {
  --secondary-color: #ddd;
  --main-color: #222;
  --highlight-color: orange;
  --link-color: rgb(179, 118, 5);
}

* { color: var(--font-color) }
body { 
  color: var(--secondary-color);
  background-color: var(--main-color) 
}
header { 
  color: var(--main-color); 
  background-color: var(--secondary-color);
}
h2 { color: var(--highlight-color) }
a { color: var(--link-color) }

#price-boxes > div {
  color: var(--main-color); 
  background-color: var(--secondary-color);
}

#price-boxes button { background-color: var(--highlight-color) }
#submit { 
  color: var(--main-color); 
  background-color: var(--highlight-color);
}
/* ---------------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  padding: 10px; /* not inherited */
  max-width: 800px; 
  margin: 0px auto; /* not inherited */
}



/* === HEADER CONTENT === */
#header-img {
  width: 50px;
  height: auto;
}

/* FlEX CONTAINER */
header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1; /* so that x-frame scrolls underneath */
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  width: auto;
  /* max-width: 800px; */
}

/* FLEX ITEMS */
#logo-container {
  flex: 0 1 auto;
}

#logo-text {
  flex: 2 1 auto;
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase; 
}

#nav-bar {
  flex: 1 1 auto;
}

/* NESTED FLEX CONTAINER - NAV */
#nav-bar ul {
  display: flex;
  justify-content: space-around;
}





/* === SECTIONS CONTENT === */



main {
  max-width: 700px;
  margin: auto;
  margin-top: 130px;
}

section {
  /* border: 1px solid pink; */
  margin-top: 50px;

}

/* iframe container */
#iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

/* === DEMO SECTION === */
iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



/* === PRICING SECTION === */

/* flex container */
#price-boxes {
  display: flex;
}

/* flex items && nested flex containers */
#price-boxes > div {
  /* border: 1px solid black; */
  flex-basis: calc(100%/3);
  margin: 7px;
  padding: 0;
  /* nested flex containers */
  display: flex;
  flex-direction: column;
  text-align: center;
}
#price-boxes #soprano { margin-left: 0 }
#price-boxes #tenor { margin-right: 0 }

#price-boxes button {
  padding: 7px;
  margin-top: 10px;
  font-weight: bold;
}

#price-boxes ul {
  padding: 0; /* removes list items indentation */
}




/* === EMAIL SIGNUP === */

/* Flex container */
form {
  width: 40%;
  min-width: 200px;
  margin: 80px auto 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flex items */
form > * {
  margin: 8px;
  width: 100%;
}

form > label {
  text-align: center;
}

form #submit {
  padding: 5px;
}


/* ======================= FOOTER ====================== */

/* FLEX CONTAINER */
footer {
  /* position: relative;
  bottom: 0;
  left: 0;
  right: 0; */
  width: 100%;
  display: flex;

}
/* FLEX ITEMS */
footer > p, footer > nav {
  flex-basis: 50%;
  /* border: 1px solid red; */
}


/* FLEX CONTAINER */
#nav-footer {
  display: flex;
  padding-inline-start: 0;
}
/* FLEX ITEMS */
#nav-footer li {
  flex: 1;
}



/* Remove bullet points */
li {
  list-style: none;
}


/* === Media Queries === */
@media (max-width: 500px) {
  img {
    width: 20px;
  }

  #nav-bar ul {
    flex-direction: column;
    justify-content: space-around;
  }

  #price-boxes {
    flex-direction: column;
  }

  #nav-footer {
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
  }

}