



* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  max-width: 800px;
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
}




/* === HEADER CONTENT === */
#header-img {
  width: 50px;
  height: auto;
}

/* FlEX CONTAINER */
header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;

  padding: 15px;
  width: auto;
  /* max-width: 800px; */
}

/* FLEX ITEMS */
#logo-container {
  flex: 0 1 auto;
}

#logo-text {
  flex: 2 1 auto;
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase; 
}

#nav-bar {
  flex: 1 1 auto;
}

/* NESTED FLEX CONTAINER - NAV */
#nav-bar ul {
  display: flex;
  justify-content: space-around;
}





/* === SECTIONS CONTENT === */



main {
  max-width: 700px;
  margin: auto;
  margin-top: 130px;
}

section {
  border: 1px solid pink;
  margin-top: 50px;

}

/* iframe container */
#iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

/* === DEMO SECTION === */
iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



/* === PRICING SECTION === */

/* flex container */
#price-boxes {
  display: flex;
}

/* flex items && nested flex containers */
#price-boxes > div {
  border: 1px solid black;
  flex-basis: calc(100%/3);
  margin: 5px;
  padding: 0;
  /* nested flex containers */
  display: flex;
  flex-direction: column;
  text-align: center;
}

#price-boxes button {
  padding: 5px;
  margin-top: 10px;
}

#price-boxes ul {
  padding: 0; /* removes list items indentation */
}




/* === EMAIL SIGNUP === */

/* Flex container */
form {
  width: 40%;
  min-width: 200px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flex items */
form > * {
  margin: 8px;
  width: 100%;
}

form > label {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

form #submit {
  padding: 2px;
}


/* ===== FOOTER ====== */

footer {
  margin-bottom: 5px;
  text-align: center;
}
/* FLEX CONTAINER */
footer ul {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 0;
}
/* FLEX ITEMS */
footer ul li {
  display: inline-block;
  margin: 0px 20px;
}

/* Remove bullet points */
li {
  list-style: none;
}


/* === Media Queries === */
@media (max-width: 500px) {
  img {
    width: 20px;
  }

  #nav-bar ul {
    flex-direction: column;
    justify-content: space-around;
  }

  #price-boxes {
    flex-direction: column;
  }

}