



* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
}




/* === HEADER CONTENT === */
#header-img {
  width: 60px;
  height: auto;
}

/* FlEX CONTAINER */
header {
  display: flex;
  justify-content: space-around;
}

/* FLEX ITEMS */
#logo-container {
  flex: 0 1 auto;
}

#logo-text {
  flex: 2 1 auto;
  margin-left: 15px;
}

#nav-bar {
  flex: 1 1 auto;
}

/* NESTED FLEX CONTAINER */
#nav-bar ul {
  display: flex;
  justify-content: space-around;
}





/* === SECTIONS CONTENT === */

main {
  max-width: 700px;
  margin: auto;
}

section {
  border: 1px solid pink;

}

/* === DEMO SECTION === */
iframe {
  margin: 0 auto;
}




/* === PRICING SECTION === */

/* flex container */
#price-boxes {
  display: flex;

}
/* flex items */
#price-boxes > div {
  border: 1px solid black;
  flex-basis: calc(100%/3);
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: none;
}

#price-boxes ul {
  padding: 0; /* removes list items indentation */
}


/* === EMAIL SIGNUP === */
form {
  width: 75%;
  margin: 20px auto;
}





/* ===== FOOTER ====== */

footer * {
  margin: 0;
  text-align: center;
}
/* FLEX CONTAINER */
footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0;
}

/* Remove bullet points */
li {
  list-style: none;
}

iframe {
  display: block;
}

@media (max-width: 500px) {
  img {
    width: 20px;
  }

  #price-boxes {
    flex-direction: column;
  }

}